<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyper news</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<p><h2>Hyper news</h2></p>

{% for val in ctx %}
<h4>{{ val.date }} </h4>
<ul>
    {% for ele in val.values %}
    <li>
        <a href="/news/{{ ele.link }}/">{{ ele.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}

<p><a href="/news/create/" target="_blank">create news</a></p>

    <form action="/news/" method="get">{% csrf_token %}
    <p>Search news:</p>
    <input type="text" name="q">
    <p><button type="submit">Search news</button></p>
    </form>


</body>
</html>
